#Ignorar carpeta de unitree con IS e ROS
unitree_ws/
.vscode/
/TutorialesIsaacLab/Proyectos_personales/*
ROS2_Humble/workspace/*
ROS2_unitree/workspace/*

!ROS2_Humble/workspace/.gitkeep
!ROS2_unitree/workspace/.gitkeep
!/TutorialesIsaacLab/Proyectos_personales/.gitkeep

